<style>
#slogan { 
font-weight: bold;
text-align: center; 
}
</style>

h1 {
background: #ffffff;
color: #A8713B;
font-size: xx-large;
font-style: arial;
text-align: center;
}

<style>
.blurb {
	color: #215737;
}